*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.container1800{
    max-width: 1800px;
    margin: 0 auto;
}
.container1200{
    max-width: 1200px;
    margin: 0 auto;
    
}
.row{
    display: flex;
}
.row1200{
    height: 100%;
    background-color: rgb(224, 131, 224);
}
.row5{
    height: 100%;
    background-color: rgb(5, 131, 42);

}
.rowfoot{
    display: flex;
    gap: 90%;
    background-color: rgb(117, 226, 103);
}
.col20{
    width: calc(100%/5);
     
    
}
.margin{
    margin: 15px 0;
}
.col60{
    width: calc(100%/5*3);
    
      
}
.col40{
    width: calc(100%/5*2);
      
      
}
.col33{
    width: calc(100%/6*2);
}
.col16{
    width: calc(100%/6);  
}
.col10{
    width: calc(100%/20);
}

.height400{
    height: 400px;
}
.height600{
    height: 600px;
}
p{
    padding: 7px;
    font-size: 20px;
}
.align-mid{
    text-align: center;
}
.align-right{
    text-align: right;
}
.border-doashed{
    border:2px dashed black;
}
.border-doashed-white{
    border:2px dashed white;
}
.bgcolor-giallo{
    background-color: rgb(224, 204, 24);
}
.bgcolor-azzurro{
    background-color: rgb(135, 213, 236);
}
.bgcolor-pink{
    background-color: pink;
}
.bgcolor-gray{
    background-color: gray;
}
.bgcolor-black{
    background-color: rgb(27, 26, 26);
}
.padding50{
    padding: 50px;
}
.paddingfoot{
    padding: 15px 0;
}